.todo {
  &__head {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 5px;
  }
  &__app {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 30px;
    height: auto;
    width: 320px;
  }
  &__header {
  }

  &__header-head {
    padding: 7px 0 0 10px;
    color: #000;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
  }

  &__content {
    min-height: 152px;
    max-height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.content {
  &__send-btn {
  }

  &__todo-btn {
    color: #fff;
    background: hsla(196, 39%, 46%, 0.95);
    border: 0;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 27px 8px;
    margin: 30px 0 0 0;
  }

  &__todo-input {
    width: 320px;
    height: 40px;
    color: #000;
    padding: 0 5px;
  }
}
.li-todo {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-todo {
  margin: 0 5px 0 0;
}
.btn-todo {
  margin: 5px 10px;
  padding: 5px 10px;
  &:hover {
    background-color: rgb(68, 53, 53);
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
  }
}
.bot {
  &__toDo-ul {
  }

  &__toDo {
  }
}
